/* /*Fjern padding og Margin på hele siden*/
*{
    margin: 0;
    padding: 0;
}

/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display&family=Poppins&display=swap');

/* Generalle regler */
h1 {
    font-family: dm serif display;
    font-size: 8vw;
    text-transform: uppercase;
    letter-spacing: 25px;
    font-weight: 100;
}

h2 {
    font-family: dm serif display;
    font-size: 1.3vw;
    text-transform: uppercase;
    letter-spacing: 7px;
    padding-bottom: 3%;
}

h3 {
    font-family: dm serif display;
    text-transform: uppercase;
    letter-spacing: 4px;
    font-size: 1.9vw;
    width: 78%;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 1%;
    padding-top: 4%;
}

h4 {
    font-family: dm serif display;
    text-transform: uppercase;
    letter-spacing: 4px;
    font-size: 1.4vw;
    color: white;
    padding-bottom: 17px;
    font-weight: 100;
}

h6 {
    font-family: poppins;
    font-weight: 100;
    letter-spacing: 2px;
    font-size: 1.3vw;
}

p {
    font-family: poppins;
    font-size: 1.1vw; 
}

body {
    overflow-x: hidden; /*der burde ikke være side scroll men for en sikkerhedskyld sætter jeg det alligevel på, så er jeg helt sikker */
}

header {
    background-color: #F2F2F0;
    background-image: url(image/background-img.svg); /*Baggrunds billede til computer*/
    background-repeat: no-repeat; /*Sættes på da billede ikke skal gentage sig*/
}

/* Mobil menu start */
.mobil-menu {
  height: 0;
  width: 100%;
  position: fixed;
  z-index: 10;
  left: 0;
  top: 0;
  background-color: #F2F2F0;
  overflow-x: hidden;
  transition: 0.5s;
  overflow: hidden;
}

.menu-content {
  position: relative;
  top: 15%;
  width: 100%;
  margin-top: 30px;
}

.mobil-menu a {
  padding: 15px;
  text-decoration: none;
  font-size: 5vw;
  letter-spacing: 5px;
  font-family: poppins;
  color: black;
  display: block;
  text-transform: uppercase;
  border-bottom: 1px solid black; /* adskiller menupunkterne */
  transition: 0.5s;  /* sek det tager at skrift farve når man holder musen over */
}

.mobil-menu a:hover,
.mobil-menu a:focus {
    color: #6a87af; /*Farven den skifter til når man holder musen hen over. Den blå farve er fra lokalet i Odensegade */
}

.closebtn {
  cursor: pointer;
  position: absolute;
  top: 35px;
  right: 40px;
  font-size: 18pt;
  color: black;
}

#bars {
position: absolute;
  top: 35px;
  right: 40px;
  font-size: 18pt;
  color: black;
}
/* Mobil menu slut */

/* Forsiden start*/ 

nav a {
    text-decoration: none;
    text-transform: uppercase;
    color: black;
    font-family: poppins;
    letter-spacing: 5px;
    font-size: 1.9vw;
}

nav {
    display: flex;
    width: 60%;
    margin: auto;
    justify-content: space-evenly;
    padding-bottom: 7%;
}

.circle-solid {
    width: 8px;
}

.forside-indhold {
    text-align: center;
    width: 78%;
    margin: auto;
}

.forside-indhold p {
    padding-bottom: 2%;
    padding-bottom: 8%;
    width: 58%;
    margin: auto;
    font-size: 1.4vw;
}
/* Forsiden slut*/

/* Om spröd start */
.omsprod {
    display: flex;
    justify-content: center;
    grid-gap: 60px
}

#omsprod-tekst {
    width: 32%;
}

#omsprod-video {
    width: 42%;
    height: 350px;
}

.tomat-kasse {
    margin-left: auto;
    margin-right: auto;
    text-align: center;  
    padding-top: 5%;
}

#tomat-illustration {
    width: 43%;
    justify-content: center;
}
/* Om spröd slut */

/* Vores menu start*/
.menukort-indhold{
    background-color: #F2F2F0;
    height: fit-content;
    width: 78%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: space-evenly;
    padding-bottom: 3%;
}

.menukort-kolonne1, .menukort-kolonne2 {
    width: 45%;
}

.menukort-kolonne1 h5, .menukort-kolonne2 h5 {
    text-align: center;
    text-transform: uppercase;
    font-family: poppins;
    letter-spacing: 4px;
    font-size: 1.75vw;
    padding-top: 8%;
}

.menukort-kolonne1 p, .menukort-kolonne2 p {
    font-size: 1vw;
    padding-top: 1%;
    width: 83%;
}

.pizzaogpris {
    display: flex;
    padding-top: 4%;
    width: 100%;
    justify-content: space-evenly;
}

.pizzaogpris div:nth-child(3) {
    text-align: right;
    text-transform: uppercase;
}

.punktum {
    border-bottom: 3px dotted black;
    width: 100%;
}

.drikke-ikon {
    width: 10%;
}

.kage-ikon {
    width: 13%;
}
/* Vores menu slut*/

/*Lokation Start*/
/*Slideshow Start*/
.slideshow {
    width: 78%;
    margin: auto;
    position: relative;
}

.billederslideshow {
    width: 78%;
    position: absolute; /* den her gør så billederne ligger oven på hiananden. Den arbejder sammen med position: relative;*/
    display: none; /*Skjuler billede da de vises med JavaScript*/
}


/*Slideshow slut*/
#lokationer-adresse {
    width: 17%;
    font-family: poppins;
    font-size: 1.2vw;
    border-left: 3px solid black;
    padding-left: 2%;
    list-style-type: none;
    width: 20%;
    float: right; /* Placere min tekst hvor jeg gerne vil have den */
    padding-right: 3%;
}

.overskrift {
    padding-bottom: 3%;
    font-weight: bold;
}

/* Lokation slut */

/* Sprödxme Start*/
.instagram-container{
    padding-top: 45%;
}

.instagram-container a {
    text-decoration: none;
    color: black;
}
 .instagram {
    width: 78%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    margin-bottom: 5%;
 }

 .instagram-billeder {
    width: 23%;
 }

 .instagram-billeder img {
    width: 100%;
}
/* Sprödxme slut*/

/* Footer Start*/
footer {
    background-color: black;
    height: 250px;
    list-style-type: none;
 }

.footer-indhold {
    display: flex;
    width: 85%;
    margin-left: auto;
    margin-right: auto;
    justify-content: space-around;
    padding-top: 50px;
    text-align: center;
}

.footer-indhold li {
    font-size: 0.9vw;
    color: white;
    font-family: poppins;
    padding-bottom: 10%;
}

.footer-some {
    display: flex;
    background-color: black;
    grid-gap: 25px;
    justify-content: center;
    padding-top: 25px;
    padding-bottom: 25px;
}

.footer-some a {
    width: 4%;
}
/* Footer slut */

/* 404-page start*/
.fourofour {
    text-align: center;
    background-color: #F2F2F0;
    overflow: hidden;
}

.fourofour h6{
    font-size: 4vw;
    font-family: poppins;
    letter-spacing: 6px;
    padding-top: 9%;
    width: 40%;
    margin-left: auto;
    margin-right: auto;
}

.fourofour p {
    font-size: 2vw;
    padding-top: 5%;
    padding-bottom: 2%;
    width: 25%;
    margin-left: auto;
    margin-right: auto;
}

#button {
    font-size: 1.6vw;
    background-color: black;
    border-radius: 25px;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 30px;
    padding-right: 30px;
    text-decoration: none;
    color: white;
    font-family: poppins;
  }

/* Placering af illustrationerne */
/* Kunne være slettet - se kommentar i 404-page.html */
  #Spildt-rød {
    width: 45%;
    position: relative;
    left: -90px;
    bottom: 180px;
  }

  #Spildt-rose {
    width: 45%;
    position: relative;
    left: 1065px;
    bottom: 1185px;
  }
/* 404-page slut*/

/*Media queries*/

/*LAPTOP*/ 
@media screen and (min-width: 768px){ 
    .fa-solid {
        display: none;
    }

    #tlf {
        font-family: dm serif display;
        font-size: 2.8vw;
        margin-right: 0%;
        width: 100%;
        text-align: right;
        padding-top: 75px;
    }
}

/*MOBIL*/ 
@media screen and (max-width: 768px){ 
    .fa-solid {
        font-size: 45px;
    }
    
    h1 {
        letter-spacing: 10px;
        font-size: 17vw;
        padding-top: 27%;
    }
    h2 {
        font-size: 5vw;
        padding-bottom: 6%;
    }

    .forside-indhold p {
        width: 100%;
        height: 275px;
        font-size: 3.5vw;
        padding-bottom: 65%;
    }

    #tlf {
        display: none;
    }

    nav {
        display: none;
    }

    h3 {
        width: 85%;
        font-size: 4vw;
        margin: none;
    }

    header {
        background-image: none; /*Skjuler det baggrundsbillede der passer til computer*/
        background-image: url(image/bacckground-img-phone.svg); /*baggrunds bilelde til mobil ligges her nede, da computeren ellers ikke ved hvilket et af billederne det er at den skal skjule*/
    }

    .omsprod {
        width: 85%;
        justify-content: space-between;
        margin: auto;
        flex-direction: column;
    }

    #omsprod-tekst p {
        font-size: 3vw;
        width: 100%;
    }

    #omsprod-tekst{
        width: 100%;
    }

    #omsprod-video {
        width: 100%;
    }

    .tomat-kasse {
        width: 100%;
    }
    
    #tomat-illustration {
        width: 80%;
    }

    h4{
        font-size: 3vw;
    }

    .menukort-indhold {
        width: 85%;
        flex-direction: column;
        margin: auto;
    }

    .punktum {
        border-bottom: 2px dotted black;
    }

    h6 {
        font-size: 3vw;
    }

    .menukort-kolonne1 p, .menukort-kolonne2 p {
        font-size: 2.5vw;
    }

    .menukort-kolonne1, .menukort-kolonne2 {
        width: 85%;
        margin: auto;
    }

    .menukort-kolonne1 h5, .menukort-kolonne2 h5 {
        font-size: 5vw;
        text-align: left;
    }

    .slideshow {
        width: 85%;
        margin: auto;
        height: 350px;  /* Jeg giver mit slideshow en højde så der ikke ligger elementer sig ind under slideshow */
    }

    .billederslideshow {
        width: 100%;
    }

    #lokationer-adresse {
        font-size: 3vw;
        width: auto;
        float: none;  /* Fjerner det float jeg jeg lagt som general regl og flytter kassen tilbage på sin oprindelig plads så ligger den kasse med adressen sig automatisk under slideshow */
        margin-left: 7%;  /*ligger teksten 7% fra kanten så den følger resten af siden */
    }

    .lokationer-container {
        padding-bottom: 5%;
    }

    .overskrift {
        padding-bottom: 1%;
    }

    /* Sprödxme mobil */
    .instagram-container{
        padding-top: 0;
    }
    .instagram {
        width: 85%;
        display: flex;
        flex-wrap: wrap;
    }

    .instagram-billeder {
        width: 47%;
    }

    .instagram div:nth-child(3), .instagram div:nth-child(4){
        padding-top: 5%;
    }

    .instagram-billeder img {
        width: 100%;
    }

    /* Footer mobil  */
    .footer-indhold {
        flex-direction: column;
        text-align: left;
        width: 85%;
    }

    .footer-indhold li {
        font-size: 2.7vw;
        padding-bottom: 2%;
    }
    
    footer {
        height: fit-content;
    }

    h4 {
        padding-bottom: 5px;
        padding-top: 10px;
        font-size: 4.5vw;
        width: 85%;
    }

    .footer-some {
        width: 85%;
        margin: auto;
        justify-content: left;
    }

    .footer-some a {
        width: 10%;
        text-align: left;
    }
}



